[includeIf "gitdir:/Users/maxondev/Documents/personal/"]
 	 path = /Users/maxondev/Documents/personal/.gitconfig-personal

[includeIf "gitdir:/Users/maxondev/Documents/enterprise/devlight/"]
  	path = /Users/maxondev/Documents/enterprise/devlight/.gitconfig-devlight

[includeIf "gitdir:/Users/maxondev/Documents/enterprise/codegeeks-solutions/"]
  	path = /Users/maxondev/Documents/enterprise/codegeeks-solutions/.gitconfig-codegeeks

[includeIf "gitdir:/Users/maxondev/Documents/computer-science/"]
	path = /Users/maxondev/Documents/computer-science/.gitconfig-personal

[init]
  	defaultBranch = main

[core]
  	editor = code --wait
